.Aboutcontainer {
    height: 100vh;
    width: 100vw;
    color: white;
}
.header-wrapper {
    color: white;
}
.mainpage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header{
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-decoration: underline;
    font-size:60px;
}

.para{
    text-decoration: line-through;
}

.def{
    word-spacing: 6px;
}

.button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    width: min-content;
  }